.success {
  background-color: #28a745;
  .rm {
    background-color: #28a745;
  }
}

.warning {
  background-color: #ffc107;
  .rm {
    background-color: #ffc107;
  }
}

.error {
  background-color: #dc3545;
  .rm {
    background-color: #dc3545;
  }
}
