/* Init material theme */
@use '@angular/material' as mat;
@include mat.core();

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import "fonts";

:root {
  --primary: #3F51B5;
  --secondary: #986557;
  --text: #555555;
  --background: #F3F2EF;
  --anti-flash-white: #EEF3F8;
}

body {
  font-family: 'Roboto', monospace;
  color: var(--text);
  padding: 0;
  margin: 0;
}

mat-button {

}


.main-module {
  background-color: var(--background);
}
